/* .body {
background-color: darkgoldenrod;
font-family: 'Work Sans', sans-serif;
}

.body-background-color {
    background-color: darkgoldenrod
}

.section.app-container {
    background-color: turquoise;
}

.hero.body {
    background-color: cadetblue;
}

.hero.is-primary {
    color:#4a00a7;
}
.hero-body.has-text-centered {
    background-color: turquoise;
}

.a.navbar-item.is-large.h1 {
    color:#4a00a7;
    font-family: 'Work Sans', sans-serif;
}
 
.hero.is-primary .title {
    color:#4a00a7;
    font-family: 'Work Sans', sans-serif;
}
    
.button.is-success {
    background-color: #9d38da;
}

.box{
    background-color: #eaeaea
}

div.title-image img{
    width: 700px;
}

img {
    max-height: auto;
   width: 300px;
}



.has-text-danger {
        
}

.label   {

}

.input {

}

.Register    {

}

.animation  {
    
} */

.navbarcolour {
    background-color: rgb(86, 170, 219);
    margin: auto;
    padding: 35px;
    }

.dashboardcontainer {
    width: 100%;
    /* height: 200px;
    background: aqua; */
    margin: auto;
    padding: 10px;
    display: flex;
}

.left {
    float: left;
    flex: 49%;
}

.right {
    margin-left: 2%;
    flex: 51%;
}    