.body {
background-color: turquoise;
font-family: 'Work Sans', sans-serif;
}

.body-background-color {
    background-color: turquoise;
}

.section.app-container {
    background-color: turquoise;
}

.hero.body {
    background-color: turquoise;
}

.hero.is-primary {
    color:#4a00a7;
}
.hero-body.has-text-centered {
    background-color: turquoise;
}

.a.navbar-item.is-large.h1 {
    color:#4a00a7;
    font-family: 'Work Sans', sans-serif;
}
 
.hero.is-primary .title {
    color:#4a00a7;
    font-family: 'Work Sans', sans-serif;
}
    
.button.is-success {
    background-color: #9d38da;
}

.box{
    background-color: #eaeaea
}

div.title-image img{
    width: 700px;
}

img {
    max-height: auto;
   width: 300px;

}

